# EXTRACTION

# NFL Player Extraction

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
NFLPlayer2018_Data = "Data/2018NFLPlayerStatistics.csv"
NFLPlayer2018_df = pd.read_csv(NFLPlayer2018_Data)
NFLPlayer2018_df.head()

,Player,Player.1,Player.2,Player.3,Player.4,Player.5,Games,Games.1,Passing,Passing.1,...,Scoring,Scoring.1,Scoring.2,Fantasy,Fantasy.1,Fantasy.2,Fantasy.3,Fantasy.4,Fantasy.5,Fantasy.6
0,Rk,First Name,Last Name,Tm,FantPos,Age,G,GS,Cmp,Att,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
1,1,Todd,Gurley,LAR,RB,24,14,14,0,0,...,21,3,NaN,313,372.1,379.1,342.6,178,1,1
2,2,Saquon,Barkley,NYG,RB,21,16,16,0,0,...,15,1,NaN,295,385.8,391.8,340.3,159,2,2
3,3,Christian,McCaffrey,CAR,RB,22,16,16,1,1,...,13,NaN,NaN,279,385.5,392.5,332,143,3,3
4,4,Alvin,Kamara,NOR,RB,23,15,13,0,0,...,18,3,NaN,273,354.2,360.2,313.7,138,4,4